body {
    background-color: rgb(27, 113, 142);
    margin: 0;
}
fieldset {
  border: 2px solid #570544;
  
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  border-width: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(254, 254, 254);
  max-width: 400px;
  width: 100%;
  
}


legend {
  font-weight: bold;
  color: #080808;
  padding: 0 10px;
}

.p {
  text-align: center;
  
}
.modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(42, 125, 65);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #6c1e1e;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  text-align: center;
}

.modal button {
  margin-top: 10px;
  background-color: rgb(5, 8, 7);
  color: #ffffff;
}
.cta { 
    background:#007BFF; color:#fff; padding:1rem 2rem; border:none; cursor:pointer; 
}
.container {
  display: flex;
  height: 100vh;
}
.formulario {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
}

.imagen {
      background-color: #d0e0ff;
      flex: 1;
      display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
input, button {
    margin: 10px 0;
    padding: 10px;
}
header { 
        background:rgb(27, 113, 142); color:#ffffff; padding:1rem; text-align:center; 
    }
